<h2>About Me</h2>
<p>Hi! I am a student at Georgian College studying web development,
    I am  very dedicated to making my way into game development and am planning to 
    do every course i need to do in order to be a good developer.
</p>
