<h2>Projects</h2>
<ul>
  <li>Portfolio Website (Telling about myself)</li>
  <li>The projects that I have done recently are SeeNSay storyteller
    website, built a calculator app, built a rock-paper-scissor game,
    developed a website to sell stuff, developed a radio controlled t.v, 
    made a number guessing game website, made a website for booking online
    appointments.
  </li>
</ul>
