<h1>{{title}}</h1>
<p>My name is Gurbachan singh parmar. I'm a web development student passionate about JavaScript
     and building useful web applications. I was very interested in developing new apps and websites
     from the very beginning and i want to be a web developer in upcoming future.
     I got my inspiration from my sister who's a web developer as well and works in India for microsoft.
     She use to make awesome looking websites which looked super awesome to me and that was the moment I decided that I will
     make awesome stuff as well.
     </p>
