<h1>{{title}}</h1>
<ul>
  <li>Project 1: Portfolio Site</li>
    <p>Here is the github link-<a href="https://github.com/Gurbachan27/COMP2068JSFrameworks.git" target="_blank">GitHub</a></p>
  <li>Project 2: Calculator app</li>
  <p>Here is the github link-<a href="https://github.com/Gurbachan27/COMP3025_ICE6_2025.git" target="_blank">GitHub</a></p>
  <li>Project 3: Online ice-cream Site</li>
  <p>Here is the github link-<a href="https://github.com/Gurbachan27/javascript_lab04.git" target="_blank">GitHub</a></p>
  <li>Project 4: Random story telling site</li>
  <p>Here is the github link-<a href="https://github.com/Gurbachan27/COMP1073.git" target="_blank">GitHub</a></p>
</ul>
